:root {
    --primary-color: rgb(169, 169, 255);
    --accent-color: rgb(128, 255, 128);
    --accent-color-light: rgb(240, 255, 240);
    --text-inverse: white;
}

body {
    display: flex;
    background-color: var(--accent-color-light);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Playfair Display', Georgia;
}

h1 {
    font-weight: 800;
    align-items: center;
    text-decoration: underline;
    text-decoration-color: var(--accent-color);
    text-decoration-thickness: 1.25rem;
    text-decoration-skip-ink: none;
    
}

.jd {
    color: var(--accent-color);
    font-size: 8rem;
    font-style: italic;
    font-family: 'Bodoni Moda', serif;
}

.holmes {
    color: var(--primary-color);
    font-size: 8rem;
    
}

.nav {
    margin-top: 2rem;
    font-family: 'Playfair Display', Georgia;
    color: var(--primary-color);
    font-size: 1.5rem;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
}

.nav a {
    text-decoration: none; 
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    color: var(--primary-color); 
}

.nav a i {
    padding: 0.25rem;
}

.nav a:hover {
    color: var(--text-inverse);
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    box-shadow: 0 0 1rem var(--primary-color);
    transition: all 0.3s ease;
}

.nav a:hover i {
    color: var(--text-inverse);
    background-color: var(--primary-color);
    padding: 0.25rem;
}
