:root {
    --primary-color: rgb(169, 169, 255);
    --accent-color: rgb(128, 255, 128);
    --text-inverse: white;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Playfair Display', Georgia;
}

h1 {
    align-items: center;
    text-decoration: underline;
    text-decoration-color: var(--accent-color);
    text-decoration-thickness: 1.5rem;
    text-decoration-skip-ink: none;
}

.jd {
    color: var(--accent-color);
    font-size: 8rem;
    font-weight: 900;
    font-style: italic;
    font-family: 'Bodoni Moda', serif;
}

.holmes {
    color: var(--primary-color);
    font-size: 4rem;
    
}

.nav {
    margin-top: 2rem;
    font-family: 'Playfair Display', Georgia;
    color: var(--primary-color);
    font-size: 1.5rem;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 2rem;
}

.nav a {
    text-decoration: none; 
    color: var(--primary-color); 
}

.nav a:hover {
    text-decoration: underline;
    text-decoration-color: var(--accent-color);
    text-decoration-thickness: 0.5rem;
    text-decoration-skip-ink: none;
}