:root {
    --primary-color:#5D4C75;
    --accent-color: #B4A5CA;
    --accent-color-light: #9FF5B3;
    --text-inverse: white;
    --shadow: #AAA3B5;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Playfair Display', Georgia;
    justify-content: flex-start;
    font-size: 1.25rem;
    color: var(--primary-color);
}

.header {
    background-color: var(--accent-color-light);
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

h1 {
    color: var(--primary-color);
    border-radius: .25rem;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
}

.jd {
    font-size: 20rem;
    font-family: "Monoton", sans-serif;
    line-height: .8;
}

.holmes {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1;
    justify-content: right;
    display: flex;
    padding: 0 5px 0 0;
}

.nav {
    background-color: var(--accent-color-light);
    width: 100%;
    height: 5rem;
    font-family: 'Playfair Display', Georgia;
    color: var(--primary-color);
    font-size: 1.5rem;
    display: flex;
    line-height: 3;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    box-sizing: border-box;
    z-index: 1;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
}



.nav a {
    text-decoration: none; 
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    color: var(--primary-color); 
}

.nav a i {
    padding: 0.25rem;
}

.nav a:hover {
    color: var(--text-inverse);
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    box-shadow: 0 0 1rem var(--primary-color);
    transition: all 0.3s ease;
    border-radius: .25rem;
}

.nav a:hover i {
    color: var(--text-inverse);
    background-color: var(--primary-color);
    padding: 0.25rem;
    border-radius: .25rem;
}

.content {
    display: flex;
    justify-content: center;
    width: 60%;
    box-sizing: border-box;
}
